---
layout: default
title: Conversa Creativa
description: Abordamos retos de investigación aplicada en el ámbito de financiamiento climático.
keywords: cambio climático, inversión, investigación aplicada, financiamiento
ref: index
lang: en
---

<!-- Imagen superior -->
<section class="index-welcome-screen">
  <div class="container index-welcome-screen--vertical-center">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
          <h1><img alt="Conversa Creativa" src="img/logo-conversa.svg"></h1>
        </div>
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 index-welcome-screen-divisor">
        </div>
        <div class="col-md-offset-3 col-md-6">
          <h2>{{ site.data.home.secondary-sentence }}</h2>
          <a href="#ver-mas" class="arrow bounce">
            <img src="img/down-arrow.svg" alt="arrow">
          </a>
        </div>

      </section>
    </div>
  </div>
</section>

<!-- Propuesta de valor -->
<section id="ver-mas" class="container index-container">
  <div class="row">
    <div class="col-sm-offset-1 col-lg-10 index-container-value-proposal">
      <p>{{ site.data.home.value-proposal }}</p>
    </div>
  </div>
</section>

<!-- Especialidades -->
<section class="container index-container">
  <div class="row index-row__padding">
    <div class="col-sm-offset-1 col-sm-10">
      <h3 class="text-center">{{ site.data.home.specialities-title }}</h3>
      <div class="row">
        <div class="col-md-5">
          <img src="{{ site.data.home.susteinable-investment-image }}" />
          <h4><a href="{{site.baseurl}}/specialities.html">{{ site.data.home.susteinable-investment-title }}</a></h4>
        </div>
        <div class="col-md-offset-2 col-md-5">
          <img src="{{ site.data.home.renewable-energy-image }}" />
          <h4><a href="{{site.baseurl}}/specialities.html">{{ site.data.index.renewable-energy-title }}</a></h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Proyectos sobresalientes -->
<section class="container index-container">
  <div class="row index-row__padding">
    <div class="col-sm-offset-1 col-sm-10">
      <h3 class="text-center">{{ site.data.home.outstanding-projects-title }}</h3>
      <ul class="row">
        {% for outstanding-projects in site.data.home.outstanding-projects %}
          <li class="col-sm-4">
            <img class="img-responsive" src="{{ outstanding-projects.image }}" />
            <p><a href="{{ site.baseurl }}/proyectos.html#{{ outstanding-projects.id }}">{{ outstanding-projects.name }}</a></p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<!-- Clientes -->
<section class="container index-container">
  <div class="row index-row-ul__padding">
    <div class="col-sm-offset-1 col-sm-10">
      <h3 class="text-center">{{ site.data.clients.title-es }}</h3>
      <ul class="row">
        {% for client in site.data.clients.client %}
          <li class="col-sm-2 {% if forloop.rindex == 2 %} col-sm-offset-4 {% endif %}">
            <a href="{{ client.link }}" target="_blank" class="index-container-image__height"><img class="img-responsive" src="{{ client.image }}"></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<!-- Aliados -->
<section class="container index-container">
  <div class="row index-row-ul__padding">
    <div class="col-sm-offset-1 col-sm-10">
      <h3 class="text-center">{{ site.data.allies.title-es }}</h3>
      <ul class="row">
        {% for ally in site.data.allies.ally %}
          <li class="col-sm-4">
            <a href="{{ ally.link }}" target="_blank"><img class="index-container-image__height img-responsive" src="{{ ally.image }}"></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<!-- Contacto -->
<section class="container">
  <div class="row index-row__padding contact-block">
    <div class="col-sm-offset-4 col-sm-4 " id="contact-block">
      <h3 class="text-center">CONTACT</h3>
      <form class="form-horizontal" action="https://formspree.io/david@hastasiempre.mx" method="POST">
        <div class="form-group contact-block-form-group">
          <label class="col-sm-2 control-label">Name:</label>
          <div class="col-sm-10">
            <input type="name" class="form-control contact-block-form-control__focus contact-block-form-control__padding">
          </div>
        </div>
        <div class="form-group contact-block-form-group">
          <label class="col-sm-2 control-label">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control contact-block-form-control__focus contact-block-form-control__padding-case-2">
          </div>
        </div>
        <div class="form-group contact-block-form-group">
          <label class="col-sm-2 control-label">Message:</label>
          <div class="col-sm-10">
            <textarea class="contact-block-textarea form-control contact-block-form-control__focus contact-block-form-control__padding" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="contact-block-submit-button">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
</section>
