---
layout: default
title: Conversa Creativa
description: Abordamos retos de investigación aplicada en el ámbito de financiamiento climático.
keywords: cambio climático, inversión, investigación aplicada, financiamiento
ref: index
lang: es
---

<!-- Imagen superior -->
<section class="index-welcome-screen">
  <div class="container index-welcome-screen--vertical-center">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
          <h1><img alt="Conversa Creativa" src="img/logo-conversa.svg"></h1>
        </div>
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 index-welcome-screen-divisor">
        </div>
        <div class="col-md-offset-3 col-md-6">
          <h2>{{ site.data.index.secondary-sentence }}</h2>
          <a href="#ver-mas" class="arrow bounce">
            <img src="img/down-arrow.svg" alt="arrow">
          </a>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- Propuesta de valor -->
<section id="ver-mas" class="container index-container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 index-container-value-proposal">
      <p>{{ site.data.index.value-proposal }}</p>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <img class="svg index-page-schema" src="{{ site.data.index.proposal-schema }}" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h4>{{ site.data.index.proposal-title-1 }}</h4>
          <img src="{{ site.data.index.proposal-image-1 }}" />
          <ul class="index-container-list__style">
            {{ site.data.index.proposal-text-1 }}
          </ul>
        </div>
        <div class="col-sm-4">
          <h4>{{ site.data.index.proposal-title-2 }}</h4>
          <img src="{{ site.data.index.proposal-image-2 }}" />
          <ul class="index-container-list__style">
            {{ site.data.index.proposal-text-2 }}
          </ul>
        </div>
        <div class="col-sm-4">
          <h4>{{ site.data.index.proposal-title-3 }}</h4>
          <img src="{{ site.data.index.proposal-image-3 }}" />
          <ul class="index-container-list__style">
            {{ site.data.index.proposal-text-3 }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Especialidades -->
<section class="container index-container">
  <div class="row index-row__padding">
    <div class="col-sm-offset-1 col-sm-10">
      <h3 class="text-center">{{ site.data.index.specialities-title }}</h3>
      <div class="row">
        <div class="col-sm-6">
          <img src="{{ site.data.index.susteinable-investment-image }}" />
          <h4><a href="{{ site.github.url }}/especialidades.html">{{ site.data.index.susteinable-investment-title }}</a></h4>
          <p>{{ site.data.index.sustainable-investment-description }}</p>
        </div>
        <div class="col-sm-6">
          <img src="{{ site.data.index.renewable-energy-image }}" />
          <h4><a href="{{ site.github.url }}/especialidades.html#{{ site.data.especialidades.renewable-energy-id }}">{{ site.data.index.renewable-energy-title }}</a></h4>
          <p>{{ site.data.index.renewable-energy-description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Proyectos -->
<section class="container index-container">
  <div class="row index-row__padding">
    <div class="col-sm-offset-1 col-sm-10">
      <h3 class="text-center">{{ site.data.index.projects-title }}</h3>
      <ul class="row">
        {% for projects-cat in site.data.index.projects-cat %}
          <li class="col-sm-6">
            <div class="row">
              <img class="col-sm-4 img-responsive" src="{{ projects-cat.image }}" />
              <p class="col-sm-8"><a href="{{ site.github.url }}/proyectos.html#{{ projects-cat.id }}">{{ projects-cat.name }}</a></p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<!-- Clientes -->
<section class="container index-container">
  <div class="row index-row-ul__padding">
    <div class="col-sm-offset-1 col-sm-10">
      <h3 class="text-center">{{ site.data.clients.title-es }}</h3>
      <ul class="row">
        {% for client in site.data.clients.client %}
          <li class="col-sm-2 col-xs-4 {% if forloop.rindex == 2 %} col-sm-offset-4 {% endif %}">
            <a href="{{ client.link }}" target="_blank"><img class="index-container-client-image" src="{{ client.image }}"></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<!-- Aliados -->
<section class="container index-container">
  <div class="row index-row-ul__padding">
    <div class="col-sm-offset-1 col-sm-10">
      <h3 class="text-center">{{ site.data.allies.title-es }}</h3>
      <ul class="row">
        {% for ally in site.data.allies.ally %}
          <li class="col-sm-4 col-xs-4">
            <a href="{{ ally.link }}" target="_blank"><img class="index-container-image-allies" src="{{ ally.image }}"></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<!-- Contacto -->
<section class="container">
  <div class="row index-row__padding contact-block">
    <div class="col-sm-offset-4 col-sm-4 " id="contact-block">
      <h3 class="text-center">CONTACTO</h3>
      <form class="form-horizontal" action="https://formspree.io/david@hastasiempre.mx" method="POST">
        <div class="form-group contact-block-form-group">
          <label class="col-sm-2 control-label">Nombre:</label>
          <div class="col-sm-10">
            <input type="name" class="form-control contact-block-form-control__focus contact-block-form-control__padding">
          </div>
        </div>
        <div class="form-group contact-block-form-group">
          <label class="col-sm-2 control-label">Correo:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control contact-block-form-control__focus contact-block-form-control__padding-case-2">
          </div>
        </div>
        <div class="form-group contact-block-form-group">
          <label class="col-sm-2 control-label">Mensaje:</label>
          <div class="col-sm-10">
            <textarea class="contact-block-textarea form-control contact-block-form-control__focus contact-block-form-control__padding" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="contact-block-submit-button">ENVIAR</button>
        </div>
      </form>
    </div>
  </div>
</section>
