---
layout: section
title: Projects | Conversa Creativa
description:
keywords:
ref: proyectos
lang: en
---

<div class="row section-main-title">
  <div class="col-lg-12">
    <h2>{{ site.data.projects.title }}</h2>
  </div>
</div>

<section class="row section-page-description">
  <div class="col-sm-offset-1 col-sm-6">
    {{ site.data.projects.description }}
  </div>
  <div class="col-sm-4">
    <img class="svg project-page-map" src="img/projects/mapa.svg" />
    <p class="text-center">
      <small>Presencia regional</small>
    </p>
  </div>
</section>

<section class="section-content">
  <ol class="col-sm-offset-1 col-sm-10">
    <li class="section-content-anchor" id="{{ site.data.projects.cat-1-id }}">
      <h3>{{ site.data.projects.cat-1-title }}</h3>
      <ul>
        {% for cat-1 in site.data.projects.cat-1 %}
          <li class="section-content-anchor" id="{{ cat-1.id }}">
            <h4>{{ cat-1.name }}</h4>
            <div class="row readmore">
              <div class="col-sm-3">
                <img class="section-image__margin" src="{{ cat-1.image }}">
              </div>
              <div class="col-sm-9">
                {{ cat-1.description }}
                <!-- p>{% if cat-4.link %}<a href="{{ cat-4.link}}" target="_blank">{{ cat-4.link-text }}</a>{% endif %}{% if cat-4.link-2 %} | <a href="{{ cat-2.link}}">{{ cat-4.link-text-2 }}</a></p>{% endif %}{% if cat-4.txt-mail %} {{ cat-4.txt-mail }} {% endif %}</p -->
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li class="section-content-anchor" id="{{ site.data.projects.cat-2-id }}">
      <h3>{{ site.data.projects.cat-2-title }}</h3>
      <ul>
        {% for cat-2 in site.data.projects.cat-2 %}
          <li class="section-content-anchor" id="{{ cat-2.id }}">
            <h4>{{ cat-2.name }}</h4>
            <div class="row readmore">
              <div class="col-sm-3">
                <img class="section-image__margin" src="{{ cat-2.image }}">
              </div>
              <div class="col-sm-9">
                {{ cat-2.description }}
                <!-- p>{% if cat-4.link %}<a href="{{ cat-4.link}}" target="_blank">{{ cat-4.link-text }}</a>{% endif %}{% if cat-4.link-2 %} | <a href="{{ cat-2.link}}">{{ cat-4.link-text-2 }}</a></p>{% endif %}{% if cat-4.txt-mail %} {{ cat-4.txt-mail }} {% endif %}</p -->
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li class="section-content-anchor" id="{{ site.data.projects.cat-3-id }}">
      <h3>{{ site.data.projects.cat-3-title }}</h3>
      <ul class="row">
        {% for cat-3 in site.data.projects.cat-3 %}
          <li class="section-content-anchor" id="{{ cat-3.id }}">
            <h4>{{ cat-3.name }}</h4>
            <div class="row readmore">
              <div class="col-sm-3">
                <img class="section-image__margin" src="{{ cat-3.image }}">
              </div>
              <div class="col-sm-9">
                {{ cat-3.description }}
                <!-- p>{% if cat-4.link %}<a href="{{ cat-4.link}}" target="_blank">{{ cat-4.link-text }}</a>{% endif %}{% if cat-4.link-2 %} | <a href="{{ cat-2.link}}">{{ cat-4.link-text-2 }}</a></p>{% endif %}{% if cat-4.txt-mail %} {{ cat-4.txt-mail }} {% endif %}</p -->
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li class="section-content-anchor" id="{{ site.data.projects.cat-4-id }}">
      <h3>{{ site.data.projects.cat-4-title }}</h3>
      <ul>
        {% for cat-4 in site.data.projects.cat-4 %}
          <li class="section-content-anchor" id="{{ cat-4.id }}">
            <h4>{{ cat-4.name }}</h4>
            <div class="row readmore">
              <div class="col-sm-3">
                <img class="section-image__margin" src="{{ cat-4.image }}">
              </div>
              <div class="col-sm-9">
                {{ cat-4.description }}
                <!-- p>{% if cat-4.link %}<a href="{{ cat-4.link}}" target="_blank">{{ cat-4.link-text }}</a>{% endif %}{% if cat-4.link-2 %} | <a href="{{ cat-2.link}}">{{ cat-4.link-text-2 }}</a></p>{% endif %}{% if cat-4.txt-mail %} {{ cat-4.txt-mail }} {% endif %}</p -->
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ol>
</section>
