---
layout: section
title: Proyectos | Conversa Creativa
description:
keywords:
ref: proyectos
lang: es
---

<div class="row section-main-title">
  <div class="col-lg-12">
    <h1>{{ site.data.proyectos.current-title }}</h1>
  </div>
</div>

<section class="section-projects-block">
  <ul class="">
    {% for current in site.data.proyectos.current %}
      <li class="row">
        <div class="col-sm-offset-1 col-sm-3">
          <img class="section-projects-image__margin" src="{{ current.image }}">
        </div>
        <div class="col-sm-7">
          <h2>{{ current.name }}</h2>
          {{ current.description}}
          {% if current.link %}
            <p><a href="{{ current.link}}" target="_blank">Más información</a></p>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</section>

<div class="row section-main-title">
  <div class="col-lg-12">
    <h1>{{ site.data.proyectos.previous-title }}</h1>
  </div>
</div>

<section class="section-projects-block">
  <ul class="">
    {% for previous in site.data.proyectos.previous %}
      <li class="row">
        <div class="col-sm-offset-1 col-sm-3">
          <img class="section-projects-image__margin" src="{{ previous.image }}">
        </div>
        <div class="col-sm-7">
          <h2>{{ previous.name }}</h2>
          {{ previous.description}}
          <p>{% if previous.link %}<a href="{{ previous.link}}" target="_blank">Más información </a>{% endif %}{% if previous.link_2 %} | <a href="{{ previous.link}}">Más información</a></p>{% endif %}{% if previous.txt-mail %} {{ previous.txt-mail}} {% endif %}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
