<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.hash == '#investigacion-aplicada') {
      $( "#cat-1" ).addClass("in");
    } else if (window.location.hash == '#financiamiento-sustentable') {
      $( "#cat-2" ).addClass("in");
    } else if (window.location.hash == '#fomento-energias-renovables') {
      $( "#cat-3" ).addClass("in");
    } else if (window.location.hash == '#comunicacion-viculacion') {
      $( "#cat-4" ).addClass("in");
    };

    if (window.location.hash == '#applied-research') {
      $( "#cat-1" ).addClass("in");
    } else if (window.location.hash == '#design-sustainable-finance-platforms') {
      $( "#cat-2" ).addClass("in");
    } else if (window.location.hash == '#financing-sustainable-rural-development') {
      $( "#cat-3" ).addClass("in");
    } else if (window.location.hash == '#communication') {
      $( "#cat-4" ).addClass("in");
    };

    if (window.location.hash == '#fondo-climatico-de-la-peninsula-de-yucatan') {
      $( "#cat-2" ).addClass("in");
    } else if (window.location.hash == '#actividades-bajas-en-carbono') {
      $( "#cat-2" ).addClass("in");
    } else if (window.location.hash == '#guia-de-inversion-forestal-en-mexico') {
      $( "#cat-1" ).addClass("in");
    } else if (window.location.hash == '#diseno-de-un-mecanismo-de-financiamiento') {
      $( "#cat-1" ).addClass("in");
    } else if (window.location.hash == '#construyendo-cadenas-de-valor') {
      $( "#cat-3" ).addClass("in");
    };

    if (window.location.hash == '#yucatan-peninsula-climate-action-fund') {
      $( "#cat-2" ).addClass("in");
    } else if (window.location.hash == '#low-carbon-activities') {
      $( "#cat-2" ).addClass("in");
    } else if (window.location.hash == '#guide-forest-investment-mexico') {
      $( "#cat-1" ).addClass("in");
    } else if (window.location.hash == '#designing-a-finance-mechanism') {
      $( "#cat-1" ).addClass("in");
    } else if (window.location.hash == '#constructing-value-chains') {
      $( "#cat-3" ).addClass("in");
    };
  });
</script>
