<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.hash == '#investigacion-aplicada') {
      $( "#cat-1" ).addClass("in");
    } else if (window.location.hash == '#financiamiento-sustentable') {
      $( "#cat-2" ).addClass("in");
    } else if (window.location.hash == '#fomento-energias-renovables') {
      $( "#cat-3" ).addClass("in");
    } else if (window.location.hash == '#comunicacion-viculacion') {
      $( "#cat-4" ).addClass("in");
    };

    if (window.location.hash == '#applied-research') {
      $( "#cat-1" ).addClass("in");
    } else if (window.location.hash == '#design-sustainable-finance-platforms') {
      $( "#cat-2" ).addClass("in");
    } else if (window.location.hash == '#financing-sustainable-rural-development') {
      $( "#cat-3" ).addClass("in");
    } else if (window.location.hash == '#communication') {
      $( "#cat-4" ).addClass("in");
    };
  });
</script>
